# Decision Trees for Classification (over discrete input variables)

- Loosely based on  from Chapter 17 of [Data Science From Scratch](https://www.safaribooksonline.com/library/view/data-science-from/9781491901410/) by Joel Grus   
- Code Source adopted from: https://github.com/joelgrus/data-science-from-scratch/blob/master/code/decision_trees.py

## Table of Contents <a name="TOC"></a> 

1.  [Introduction](#1)
2.  [Entropy](#2)
3.  [The Entropy of a Partition](#3)
4.  [Creating a Decision Tree](#4)   
5.  [Putting It All Together](#5)
6.  [Random Forests](#6)
7.  [For Further Exploration](#7)

In [1]:
# Pre - Processing
%reload_ext autoreload
%autoreload 2
!dir
!pwd

 Volume in drive C is OSDisk
 Volume Serial Number is 56A0-1A81

 Directory of C:\Users\z001c9v\Documents\Target DS Training 2016\TargetDSTraining\HW4

08/12/2016  10:05 PM    <DIR>          .
08/12/2016  10:05 PM    <DIR>          ..
08/07/2016  09:25 PM    <DIR>          .ipynb_checkpoints
08/12/2016  10:13 AM               470 dataset.txt
08/12/2016  10:05 PM           141,810 Decision_Trees.ipynb
08/10/2016  11:33 PM            28,629 titanic_test.csv
08/10/2016  11:33 PM            61,194 titanic_train.csv
               4 File(s)        232,103 bytes
               3 Dir(s)  355,592,691,712 bytes free

'pwd' is not recognized as an internal or external command,
operable program or batch file.

In [2]:
!python --version

Python 2.7.11 :: Anaconda 4.0.0 (64-bit)

In [3]:
import os

for key, value in os.environ.items():
    print(key, value)

('TMP', 'C:\\Users\\z001c9v\\AppData\\Local\\Temp')
('COMPUTERNAME', '9XK2R72')
('PROCESSOR_LEVEL', '6')
('LIB', ';C:\\PROGRA~1\\IBM\\SQLLIB\\LIB')
('USERDOMAIN', 'DHC')
('SPARK_HOME', 'C:\\Apps\\Apache\\spark-2.0.0\\')
('PSMODULEPATH', 'C:\\WINDOWS\\system32\\WindowsPowerShell\\v1.0\\Modules\\')
('COMMONPROGRAMFILES', 'C:\\Program Files\\Common Files')
('PROCESSOR_IDENTIFIER', 'Intel64 Family 6 Model 94 Stepping 3, GenuineIntel')
('VBOX_MSI_INSTALL_PATH', 'C:\\Program Files\\Oracle\\VirtualBox\\')
('PROGRAMFILES', 'C:\\Program Files')
('PROCESSOR_REVISION', '5e03')
('DATACONNECTORLIBPATH', 'C:\\Program Files (x86)\\Teradata\\Client\\15.00\\bin\\')
('SYSTEMROOT', 'C:\\WINDOWS')
('CLICOLOR', '1')
('PROGRAMFILES(X86)', 'C:\\Program Files (x86)')
('COMSPEC', 'C:\\WINDOWS\\system32\\cmd.exe')
('TERM', 'xterm-color')
('DOCKER_TOOLBOX_INSTALL_PATH', 'C:\\Apps\\Docker Toolbox')
('WINDOWS_TRACING_LOGFILE', 'C:\\BVTBin\\Tests\\installpackage\\csilogfile.log')
('DB2INSTANCE', 'DB2')
('PROCESSOR_ARCHITECTURE', 'AMD64')
('ALLUSERSPROFILE', 'C:\\ProgramData')
('SCCMNORDCDOWNLOAD', '1')
('LOCALAPPDATA', 'C:\\Users\\z001c9v\\AppData\\Local')
('HOMEPATH', '\\')
('USERDOMAIN_ROAMINGPROFILE', 'DHC')
('JAVA_HOME', 'C:\\Program Files\\Java\\jre1.8.0_101\\')
('JPY_INTERRUPT_EVENT', '896')
('PROGRAMW6432', 'C:\\Program Files')
('USERNAME', 'Z001C9V')
('COPLIB', 'C:\\Program Files (x86)\\Teradata\\Client\\15.00\\bin\\')
('LOGONSERVER', '\\\\TETTSDCC10P')
('PROMPT', '$P$G')
('WINDOWS_TRACING_FLAGS', '3')
('JPY_PARENT_PID', '912')
('PROGRAMDATA', 'C:\\ProgramData')
('PYTHONPATH', 'C:\\Apps\\Anaconda2\\;C:\\Apps\\Anaconda2\\Scripts;$SPARK_HOME/python:$SPARK_HOME/python/lib/py4j-0.10.1-src.zip;')
('CLASSPATH', 'C:\\Program Files (x86)\\Teradata\\Client\\15.00\\bin\\;C:\\Program Files (x86)\\Teradata\\Client\\15.00\\bin\\tdgeospatial.jar;C:\\Program Files (x86)\\Teradata\\Client\\15.00\\bin\\;C:\\Program Files (x86)\\Teradata\\Client\\15.00\\bin\\jmsam.jar;.;C:\\PROGRA~1\\IBM\\SQLLIB\\java\\db2java.zip;C:\\PROGRA~1\\IBM\\SQLLIB\\java\\db2jcc.jar;C:\\PROGRA~1\\IBM\\SQLLIB\\java\\sqlj.zip;C:\\PROGRA~1\\IBM\\SQLLIB\\java\\db2jcc_license_cu.jar;C:\\PROGRA~1\\IBM\\SQLLIB\\bin;C:\\PROGRA~1\\IBM\\SQLLIB\\java\\common.jar')
('PATH', 'C:\\Apps\\Anaconda2\\Library\\bin;C:\\Apps\\Anaconda2\\Library\\bin;C:\\Apps\\Anaconda2\\Library\\bin;C:\\ProgramData\\Oracle\\Java\\javapath;C:\\Apps\\R\\Rtools\\bin;C:\\Apps\\R\\Rtools\\gcc-4.6.3\\bin;C:\\Program Files (x86)\\Teradata\\Teradata Performance Monitor Object 15.00\\;C:\\Program Files (x86)\\Teradata\\client\\15.00\\Teradata Parallel Transporter\\bin;C:\\Program Files (x86)\\Teradata\\client\\15.00\\Teradata Parallel Transporter\\msg;C:\\Program Files (x86)\\Teradata\\Client\\15.00\\ODBC Driver for Teradata\\Lib;C:\\Program Files (x86)\\Teradata\\Client\\15.00\\bin;C:\\Program Files (x86)\\Teradata\\Client\\15.00\\bin\\;C:\\WINDOWS\\system32;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\Program Files\\SAS94\\x86\\Secure\\ccme4;C:\\Program Files\\SAS94\\Secure\\ccme4;C:\\Program Files (x86)\\Teradata\\Client\\15.00\\tdwallet\\nt-i386\\;C:\\Program Files (x86)\\Microsoft Application Virtualization Client;C:\\Program Files\\Git\\cmd;C:\\Program Files\\Java\\jre1.8.0_101\\\\bin\\;C:\\WINDOWS\\SysWOW64\\;C:\\WINDOWS;C:\\WINDOWS\\SysWOW64\\Wbem;C:\\WINDOWS\\SysWOW64\\WindowsPowerShell\\v1.0;C:\\Program Files (x86)\\AdminStudio\\9.5\\Common;C:\\PROGRA~1\\SQLLIB\\BIN;C:\\PROGRA~1\\SQLLIB\\FUNCTION;C:\\PROGRA~1\\SQLLIB\\SAMPLES\\REPL;C:\\Program Files\\Java\\jre1.8.0_101\\\\bin;C:\\Program Files\\ibm\\gsk8\\lib64;C:\\Program Files (x86)\\ibm\\gsk8\\lib;C:\\PROGRA~1\\IBM\\SQLLIB\\BIN;C:\\PROGRA~1\\IBM\\SQLLIB\\FUNCTION;C:\\PROGRA~1\\IBM\\SQLLIB\\SAMPLES\\REPL;C:\\Apps\\Anaconda2;C:\\Apps\\Anaconda2\\Scripts;C:\\Apps\\Anaconda2\\Library\\bin;C:\\Apps\\Anaconda3;C:\\Apps\\Anaconda3\\Scripts;C:\\Apps\\Anaconda3\\Library\\bin;C:\\Program Files\\Java\\jre1.8.0_101\\\\bin;C:\\Apps\\Anaconda2\\;C:\\Apps\\Anaconda2\\Scripts;$SPARK_HOME/python:$SPARK_HOME/python/lib/py4j-0.10.1-src.zip;;C:\\Apps\\Docker Toolbox;C:\\Program Files (x86)\\IBM\\SQLLIB\\BIN;C:\\Apps\\Apache\\spark-2.0.0\\;C:\\Apps\\Apache\\hadoop-2.7.2;')
('HOMESHARE', '\\\\corp.target.com\\dfsroot\\HomeDirs\\HQ02\\59808964')
('GIT_PAGER', 'cat')
('UATDATA', 'C:\\WINDOWS\\CCM\\UATData\\D9F8C395-CAB8-491d-B8AC-179A1FE1BE77')
('PATHEXT', '.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC')
('INCLUDE', 'C:\\PROGRA~1\\IBM\\SQLLIB\\INCLUDE;C:\\PROGRA~1\\IBM\\SQLLIB\\LIB')
('SESSIONNAME', 'Console')
('FP_NO_HOST_CHECK', 'NO')
('WINDIR', 'C:\\WINDOWS')
('TEMP', 'C:\\Users\\z001c9v\\AppData\\Local\\Temp')
('HOMEDRIVE', 'H:')
('OS', 'Windows_NT')
('SYSTEMDRIVE', 'C:')
('PUBLIC', 'C:\\Users\\Public')
('NUMBER_OF_PROCESSORS', '8')
('APPDATA', 'C:\\Users\\z001c9v\\AppData\\Roaming')
('USERDNSDOMAIN', 'CORP.TARGET.COM')
('IBMDB2', 'C:\\Program Files (x86)\\IBM\\SQLLIB\\BIN')
('PAGER', 'cat')
('COMMONPROGRAMW6432', 'C:\\Program Files\\Common Files')
('HADOOP_HOME', 'C:\\Apps\\Apache\\hadoop-2.7.2')
('COMMONPROGRAMFILES(X86)', 'C:\\Program Files (x86)\\Common Files')
('IPY_INTERRUPT_EVENT', '896')
('USERPROFILE', 'C:\\Users\\z001c9v')

In [4]:
# Spark Initialization: DOCKER 
import pyspark
from pyspark.sql import SQLContext

# We can give a name to our app (to find it in Spark WebUI) and configure execution mode
# In this case, it is local multicore execution with "local[*]"
app_name = "example-logs"
master = "local[*]"
conf = pyspark.SparkConf().setAppName(app_name).setMaster(master)
sc = pyspark.SparkContext(conf=conf)
sqlContext = SQLContext(sc)


print(sc)
print(sqlContext)


# Import some libraries to work with dates
import dateutil.parser
import dateutil.relativedelta as dateutil_rd

ImportError: No module named pyspark

In [11]:
# Initiate Spark on Local:  ** Do not run this on Docker **
import sys #current as of 9/26/2015

# spark_home = os.environ['SPARK_HOME'] = '/Users/jshanahan/Dropbox/Lectures-UC-Berkeley-ML-Class-2015/spark-1.6.1-bin-hadoop2.6/'
spark_home = os.environ['SPARK_HOME'] = 'C:\\Apps\\Apache\\spark-2.0.0\\'
if not spark_home:
    raise ValueError('SPARK_HOME enviroment variable is not set')
sys.path.insert(0,os.path.join(spark_home,'python'))
sys.path.insert(0,os.path.join(spark_home,'python\\lib\\py4j-0.10.1-src.zip')) #Note, this needs to be in PYTHONPATH env variable.


print(os.environ['PYTHONPATH'])
# First, we initialize the Spark environment

#import findspark
#findspark.init()

import pyspark
from pyspark.sql import SQLContext

# We can give a name to our app (to find it in Spark WebUI) and configure execution mode
# In this case, it is local multicore execution with "local[*]"
app_name = "MyApp"
master = "local[*]"
conf = pyspark.SparkConf().setAppName(app_name).setMaster(master)
sc = pyspark.SparkContext(conf=conf)
sqlContext = SQLContext(sc)


print(sc)
print(sqlContext)


# Import some libraries to work with dates
import dateutil.parser
import dateutil.relativedelta as dateutil_rd

C:\Apps\Anaconda2\;C:\Apps\Anaconda2\Scripts;$SPARK_HOME/python:$SPARK_HOME/python/lib/py4j-0.10.1-src.zip;
<pyspark.context.SparkContext object at 0x0000000003FD50B8>
<pyspark.sql.context.SQLContext object at 0x0000000003F2A7F0>

In [8]:
sc.stop()

## 1.  Introduction <a name="1"></a>
[Back to Table of Contents](#TOC)

"A decision tree uses a tree structure to represent a number of possible *decision paths* and an outcome for each path.

If you have ever played the game Twenty Questions, then it turns out you are familiar with decision trees.

<img src="https://dl.dropbox.com/s/huzi4ffo0ooxu32/DecisionTreeAnimal.png" width="600" height="600" />

Finding an 'optimal' decision tree for a set of training data is computationally a very hard problem. (We will get around this by trying to build a good-enough tree rather than an optimal one, although for large data sets this can still be alot of work.) More important, it is very easy (and very bad) to build decision trees that are *overfitted* to the training data, and that don’t generalize well to unseen data.

Most people divide decision trees into *classification trees* (which produce categorical outputs) and *regression trees* (which produce numeric outputs)."

## 2.  Entropy <a name="2"></a>
[Back to Table of Contents](#TOC)

"In order to build a decision tree, we will need to decide what questions to ask and in what order. At each stage of the tree there are some possibilities we’ve eliminated and some that we haven’t. After learning that an animal doesn’t have more than five legs, we’ve eliminated the possibility that it’s a grasshopper. We haven’t eliminated the possibility that it’s a duck. Every possible question partitions the remaining possibilities according to their answers.  

Ideally, we’d like to choose questions whose answers give a lot of information about what our tree should predict. If there’s a single yes/no question for which 'yes' answers always correspond to True outputs and 'no' answers to False outputs (or vice versa), this would be an awesome question to pick. Conversely, a yes/no question for which neither answer gives you much new information about what the prediction should be is probably not a good choice.

We capture this notion of 'how much information' with *entropy*. You have probably heard this used to mean disorder. We use it to represent the uncertainty associated with data.

Imagine that we have a set $S$ of data, each member of which is labeled as belonging to one of a finite number of classes $C_1, \dots , C_n$. If all the data points belong to a single class, then there is no real uncertainty, which means we’d like there to be low entropy.  If the data points are evenly spread across the classes, there is a lot of uncertainty and we’d like there to be high entropy.  

In math terms, if $p_i$ is the proportion of data labeled as class $c_i$, we define the entropy as: 

\begin{equation}
H(S)=  −p_1 log_2(p_1) − \dots − p_n log_2(p_n)
\end{equation}

with the (standard) convention that $0 log 0 = 0$.

Without worrying too much about the grisly details, each term $−p_i log_2(p_i)$ is non-negative and is close to zero precisely when $p_i$ is either close to zero or close to one (Figure 17-2).

<img src="https://dl.dropbox.com/s/txnatys7w6u5mor/plogp.png" width="600" height="600" />

This means the entropy will be small when every $p_i$ is close to 0 or 1 (i.e., when most of the data is in a single class), and it will be larger when many of the $p_i$’s are not close to 0 (i.e., when the data is spread across multiple classes). This is exactly the behavior we desire.  It is easy enough to roll all of this into a function:

In [46]:
from __future__ import division
from collections import Counter, defaultdict
from functools import partial
import math, random

In [47]:
def entropy(class_probabilities):
    """given a list of class probabilities, compute the entropy"""
    return sum(-p * math.log(p, 2) for p in class_probabilities if p)

"Our data will consist of pairs (input, label), which means that we’ll need to compute the class probabilities ourselves. Observe that we don’t actually care which label is associated with each probability, only what the probabilities are:

In [48]:
def class_probabilities(labels):
    total_count = len(labels)
    return [count/total_count for count in Counter(labels).values()]

def data_entropy(labeled_data):        
    labels = [label for _, label in labeled_data]
    probabilities = class_probabilities(labels)
    return entropy(probabilities)

## 3.  The Entropy of a Partition <a name="3"></a>
[Back to Table of Contents](#TOC)

"What we’ve done so far is compute the entropy (think 'uncertainty') of a single set of labeled data. Now, each stage of a decision tree involves asking a question whose answer partitions data into one or (hopefully) more subsets. For instance, our 'does it have more than five legs?' question partitions animals into those who have more than five legs (e.g., spiders) and those that don’t (e.g., echidnas).

Correspondingly, we’d like some notion of the entropy that results from partitioning a set of data in a certain way. We want a partition to have low entropy if it splits the data into subsets that themselves have low entropy (i.e., are highly certain), and high entropy if it contains subsets that (are large and) have high entropy (i.e., are highly uncertain).

For example, my 'Australian five-cent coin' question was pretty dumb (albeit pretty lucky!), as it partitioned the remaining animals at that point into $S_1$ = {echidna} and $S_2$ = {everything else}, where $S_2$ is both large and high-entropy. ($S_1$ has no entropy but it represents a small fraction of the remaining 'classes.')  

Mathematically, if we partition our data $S$ into subsets $S_1, \dots , S_m$ containing proportions $q_1, \dots , q_m$ of the data, then we compute the entropy of the partition as a weighted sum: 

\begin{equation}
H = q_1H(S_1) + \dots + q_mH(S_m)
\end{equation}

which we can implement as:

In [53]:
def partition_entropy(subsets):
    """find the entropy from this partition of data into subsets"""
    total_count = sum(len(subset) for subset in subsets)    
    return sum(data_entropy(subset)*len(subset)/total_count for subset in subsets )

"One problem with this approach is that partitioning by an attribute with many different values will result in a very low entropy due to overfitting. For example, imagine you work for a bank and are trying to build a decision tree to predict which of your customers are likely to default on their mortgages, using some historical data as your training set. Imagine further that the data set contains each customer’s Social Security number. Partitioning on SSN will produce one-person subsets, each of which necessarily has zero entropy. But a model that relies on SSN is certain not to generalize beyond the training set. For this reason, you should probably try to avoid (or bucket, if appropriate) attributes with large numbers of possible values when creating decision trees."

## 4.  Creating a Decision Tree <a name="4"></a>
[Back to Table of Contents](#TOC)

"The VP provides you with the interviewee data, consisting of (per your specification) pairs (input, label), where each input is a *dict* of candidate attributes, and each label is either True (the candidate interviewed well) or False (the candidate inter‐viewed poorly). In particular, you are provided with each candidate’s level, her preferred language, whether she is active on Twitter, and whether she has a PhD:

In [49]:
inputs = [
          ({'level':'Senior','lang':'Java','tweets':'no','phd':'no'},   False),
          ({'level':'Senior','lang':'Java','tweets':'no','phd':'yes'},  False),
          ({'level':'Mid','lang':'Python','tweets':'no','phd':'no'},     True),
          ({'level':'Junior','lang':'Python','tweets':'no','phd':'no'},  True),
          ({'level':'Junior','lang':'R','tweets':'yes','phd':'no'},      True),
          ({'level':'Junior','lang':'R','tweets':'yes','phd':'yes'},    False),
          ({'level':'Mid','lang':'R','tweets':'yes','phd':'yes'},        True),
          ({'level':'Senior','lang':'Python','tweets':'no','phd':'no'}, False),
          ({'level':'Senior','lang':'R','tweets':'yes','phd':'no'},      True),
          ({'level':'Junior','lang':'Python','tweets':'yes','phd':'no'}, True),
          ({'level':'Senior','lang':'Python','tweets':'yes','phd':'yes'},True),
          ({'level':'Mid','lang':'Python','tweets':'no','phd':'yes'},    True),
          ({'level':'Mid','lang':'Java','tweets':'yes','phd':'no'},      True),
          ({'level':'Junior','lang':'Python','tweets':'no','phd':'yes'},False)
         ]

"Our tree will consist of *decision nodes* (which ask a question and direct us differently depending on the answer) and *leaf nodes* (which give us a prediction). We will build it using the relatively simple ID3 algorithm, which operates in the following manner.  Let’s say we’re given some labeled data, and a list of attributes to consider branching on.

- If the data all have the same label, then create a leaf node that predicts that label and then stop.
- If the list of attributes is empty (i.e., there are no more possible questions to ask), then create a leaf node that predicts the most common label and then stop.
- Otherwise, try partitioning the data by each of the attributes
- Choose the partition with the lowest partition entropy
- Add a decision node based on the chosen attribute
- Recur on each partitioned subset using the remaining attributes

This is what’s known as a 'greedy' algorithm because, at each step, it chooses the most immediately best option. Given a data set, there may be a better tree with a worse-looking first move. If so, this algorithm won’t find it. Nonetheless, it is relatively easy to understand and implement, which makes it a good place to begin exploring decision trees.

Let’s manually go through these steps on the interviewee data set. The data set has both `True` and `False` labels, and we have four attributes we can split on. So our first step will be to find the partition with the least entropy. We’ll start by writing a function that does the partitioning:

In [50]:
def group_by(items, key_fn):
    """returns a defaultdict(list), where each input item 
    is in the list whose key is key_fn(item)"""
    groups = defaultdict(list)
    for item in items:
        key = key_fn(item)
        groups[key].append(item)
    return groups
    
def partition_by(inputs, attribute):
    """returns a dict of inputs partitioned by the attribute
    each input is a pair (attribute_dict, label)"""
    return group_by(inputs, lambda x: x[0][attribute])

"and one that uses it to compute entropy:

In [54]:
def partition_entropy_by(inputs, attribute):
    """computes the entropy corresponding to the given partition"""        
    partitions = partition_by(inputs, attribute)
    return partition_entropy(partitions.values())

"Then we just need to find the minimum-entropy partition for the whole data set:

In [55]:
for key in['level','lang','tweets','phd']:
    print key, partition_entropy_by(inputs, key)

level 0.693536138896
lang 0.860131712855
tweets 0.788450457308
phd 0.892158928262

> level 0.693536138896  
> lang 0.860131712855  
> tweets 0.788450457308  
> phd 0.892158928262

"The lowest entropy comes from splitting on level, so we’ll need to make a subtree for each possible level value. Every Mid candidate is labeled True, which means that the Mid subtree is simply a leaf node predicting True. For Senior candidates, we have a mix of Trues and Falses, so we need to split again:

In [56]:
senior_inputs = [(input, label) for input, label in inputs if input["level"] == "Senior"]

for key in ['lang', 'tweets', 'phd']:
    print key, partition_entropy_by(senior_inputs, key)

lang 0.4
tweets 0.0
phd 0.950977500433

> lang 0.4  
> tweets 0.0  
> phd 0.950977500433

"This shows us that our next split should be on tweets, which results in a zero-entropy partition. For these Senior-level candidates, 'yes' tweets always result in True while 'no' tweets always result in False.

Finally, if we do the same thing for the Junior candidates, we end up splitting on phd, after which we find that no PhD always results in True and PhD always results in False."

<img src="https://dl.dropbox.com/s/sglzar089hb5rfg/DecisionTreeHiring.png" width="600" height="600" />

## 5.  Putting It All Together <a name="5"></a>
[Back to Table of Contents](#TOC)

"Now that we’ve seen how the algorithm works, we would like to implement it more generally. This means we need to decide how we want to represent trees. We’ll use pretty much the most lightweight representation possible. We define a *tree* to be one of the following:

- `True`
- `False`
- `a tuple (attribute, subtree_dict)`

Here `True` represents a leaf node that returns `True` for any input, `False` represents a leaf node that returns False for any input, and a tuple represents a decision node that, for any input, finds its `attribute` value, and classifies the input using the corresponding subtree.  With this representation, our hiring tree would look like:

`('level',  
  {'Junior':('phd',{'no':True,'yes':False}),  
   'Mid': True,  
   'Senior':('tweets',{'no':False,'yes':True})})`  

There’s still the question of what to do if we encounter an unexpected (or missing) attribute value. What should our hiring tree do if it encounters a candidate whose `level` is “Intern”? We’ll handle this case by adding a `None` key that just predicts the most common label. (Although this would be a bad idea if `None` is actually a value that appears in the data.)

Given such a representation, we can classify an input with:

In [57]:
def classify(tree, input):
    """classify the input using the given decision tree"""
    
    # if this is a leaf node, return its value
    if tree in [True, False]:
        return tree
   
    # otherwise find the correct subtree
    attribute, subtree_dict = tree
    
    subtree_key = input.get(attribute)  # None if input is missing attribute

    if subtree_key not in subtree_dict: # if no subtree for key,
        subtree_key = None              # we'll use the None subtree
    
    subtree = subtree_dict[subtree_key] # choose the appropriate subtree
    return classify(subtree, input)     # and use it to classify the input

"All that’s left is to build the tree representation from our training data:

In [58]:
def build_tree_id3(inputs, split_candidates=None):

    # if this is our first pass, 
    # all keys of the first input are split candidates
    if split_candidates is None:
        split_candidates = inputs[0][0].keys()

    # count Trues and Falses in the inputs
    num_inputs = len(inputs)
    num_trues = len([label for item, label in inputs if label])
    num_falses = num_inputs - num_trues
    
    if num_trues == 0:                  # if only Falses are left
        return False                    # return a "False" leaf
        
    if num_falses == 0:                 # if only Trues are left
        return True                     # return a "True" leaf

    if not split_candidates:            # if no split candidates left
        return num_trues >= num_falses  # return the majority leaf
                            
    # otherwise, split on the best attribute
    best_attribute = min(split_candidates,
        key=partial(partition_entropy_by, inputs))

    partitions = partition_by(inputs, best_attribute)
    new_candidates = [a for a in split_candidates 
                      if a != best_attribute]
    
    # recursively build the subtrees
    subtrees = { attribute : build_tree_id3(subset, new_candidates)
                 for attribute, subset in partitions.iteritems() }

    subtrees[None] = num_trues > num_falses # default case

    return (best_attribute, subtrees)

print "building the tree"
tree = build_tree_id3(inputs)
print tree

building the tree
('level', {None: True, 'Senior': ('tweets', {'yes': True, None: False, 'no': False}), 'Mid': True, 'Junior': ('phd', {'yes': False, None: True, 'no': True})})

"In the tree we built, every leaf consisted entirely of `True` inputs or entirely of `False` inputs. This means that the tree predicts perfectly on the training data set. But we can also apply it to new data that wasn’t in the training set:

In [59]:
print ( "Junior / Java / tweets / no phd: " ) , classify(tree, 
     {"level" : "Junior", 
      "lang" : "Java", 
      "tweets" : "yes", 
      "phd" : "no"})  

print ( "Junior / Java / tweets / phd: " ) , classify(tree, 
    {"level" : "Junior", 
     "lang" : "Java", 
     "tweets" : "yes", 
     "phd" : "yes"})

Junior / Java / tweets / no phd:  True
Junior / Java / tweets / phd:  False

"And also to data with missing or unexpected values:

In [60]:
print "Intern: ", classify(tree, { "level" : "Intern" } )
print "Senior: ", classify(tree, { "level" : "Senior" } )

Intern:  True
Senior:  False

## 6.  Random Forests <a name="6"></a>
[Back to Table of Contents](#TOC)

"Given how closely decision trees can fit themselves to their training data, it’s not surprising that they have a tendency to overfit. One way of avoiding this is a technique called *random forests*, in which we build multiple decision trees and let them vote on how to classify inputs:

In [61]:
def forest_classify(trees, input):
    votes = [classify(tree, input) for tree in trees]
    vote_counts = Counter(votes)
    return vote_counts.most_common(1)[0][0]

"Our tree-building process was deterministic, so how do we get random trees?  One piece involves bootstrapping data (recall “Digression: The Bootstrap” on page183).  Rather than training each tree on all the inputs in the training set, we train each tree on the result of `bootstrap_sample(inputs)`. Since each tree is built using different data, each tree will be different from every other tree. (A side benefit is that it’s totally fair to use the nonsampled data to test each tree, which means you can get away with using all of your data as the training set if you are clever in how you measure performance.) This technique is known as *bootstrap aggregating* or *bagging*.  

A second source of randomness involves changing the way we chose the `best_attribute` to split on. Rather than looking at all the remaining attributes, we first choose a random subset of them and then split on whichever of those is best:

In [26]:
# # if there's already few enough split candidates, look at all of them
# if len(split_candidates) <= self.num_split_candidates:
#     sampled_split_candidates = split_candidates    
# # otherwise pick a random sample
# else:
#     sampled_split_candidates = random.sample(split_candidates, self.num_split_candidates)
    
# # now choose the best attribute only from those candidates
# best_attribute = min(sampled_split_candidates, key = partial(partition_entropy_by, inputs))

# partitions=partition_by(inputs, best_attribute)

"This is an example of a broader technique called *ensemble learning* in which we combine several weak learners (typically high-bias, low-variance models) in order to produce an overall strong model.

Random forests are one of the most popular and versatile models around.

## 7.  For Further Exploration <a name="7"></a>
[Back to Table of Contents](#TOC)

- scikit-learn has many [`Decision Tree`](http://bit.ly/1ycPmuq) models. It also has an [`ensemble`](http://bit.ly/1ycPom1) module that includes a `RandomForestClassifier` as well as other ensemble methods.
- We barely scratched the surface of decision trees and their algorithms. [Wikipedia](http://bit.ly/1ycPn1j) is a good starting point for broader exploration."

## 8.  HW4 
[Back to Table of Contents](#TOC)

__HW4.1 Build a decision to predict whether you can play tennis or not <a name="8"></a>__
[Back to Table of Contents](#TOC)

Decision Trees

Write a program in Python (or in Spark; this part is optional) to implement the ID3 decision tree algorithm. You should build a tree to predict PlayTennis, based on the other attributes (but, do not use the Day attribute in your tree.). You should read in a space delimited dataset in a file called dataset.txt and output to the screen your decision tree and the training set accuracy in some readable format. For example, here is the tennis dataset. The first line will contain the names of the fields:

<PRE>
Day outlook temperature humidity wind playtennis
d1 sunny hot high FALSE no
d2 sunny hot high TRUE no
d3 overcast hot high FALSE yes
d4 rainy mild high FALSE yes
d5 rainy cool normal FALSE yes
d6 rainy cool normal TRUE no
d6 overcast cool normal TRUE yes
d7 sunny mild high FALSE no
d8 sunny cool normal FALSE yes
d9 rainy mild normal FALSE yes
d10 sunny mild normal TRUE yes
d11 overcast mild high TRUE yes
d12 overcast hot normal FALSE yes
d12 rainy mild high TRUE no
</PRE>

The last column is the classification attribute, and will always contain contain the values yes or no.

For output, you can choose how to draw the tree so long as it is clear what the tree is. You might find it easier if you turn the decision tree on its side, and use indentation to show levels of the tree as it grows from the left. For example:

<PRE>
outlook = sunny
|  humidity = high: no
|  humidity = normal: yes
outlook = overcast: yes
outlook = rainy
|  windy = TRUE: no
|  windy = FALSE: yes

</PRE>

You don't need to make your tree output look exactly like above: feel free to print out something similarly readable if you think it is easier to code.

You may find Python dictionaries especially useful here, as they will give you a quick an easy way to help manage counting the number of times you see a particular attribute.

Here are some FAQs that I've gotten in the past regarding this assignment, and some I might get if I don't answer them now.

__Should my code work for other datasets besides the tennis dataset?__ 
Yes. We will give your program a different dataset to try it out with. You may assume that our dataset is correct and well-formatted, but you should not make assumptions regrading number of rows, number of columns, or values that will appear within. The last column will also be the classification, and will always contain yes or no values.

__Is it possible that some value, like "normal," could appear in more than one column?__
Yes. In addition to the column "humidity", we might have had another column called "skycolor" which could have values "normal," "weird," and "bizarre."

__Could "yes" and "no" appear as possible values in columns other than the classification column?__
Yes. In addition to the classification column "playtennis," we might have had another column called "seasonalweather" which would contain "yes" and "no."

In [51]:
%%writefile dataset.txt

Day outlook temperature humidity wind playtennis
d1 sunny hot high FALSE no
d2 sunny hot high TRUE no
d3 overcast hot high FALSE yes
d4 rainy mild high FALSE yes
d5 rainy cool normal FALSE yes
d6 rainy cool normal TRUE no
d6 overcast cool normal TRUE yes
d7 sunny mild high FALSE no
d8 sunny cool normal FALSE yes
d9 rainy mild normal FALSE yes
d10 sunny mild normal TRUE yes
d11 overcast mild high TRUE yes
d12 overcast hot normal FALSE yes
d12 rainy mild high TRUE no

Writing dataset.txt

In [52]:
!cat dataset.txt

Day outlook temperature humidity wind playtennis
d1 sunny hot high FALSE no
d2 sunny hot high TRUE no
d3 overcast hot high FALSE yes
d4 rainy mild high FALSE yes
d5 rainy cool normal FALSE yes
d6 rainy cool normal TRUE no
d6 overcast cool normal TRUE yes
d7 sunny mild high FALSE no
d8 sunny cool normal FALSE yes
d9 rainy mild normal FALSE yes
d10 sunny mild normal TRUE yes
d11 overcast mild high TRUE yes
d12 overcast hot normal FALSE yes
d12 rainy mild high TRUE no

In [ ]:
def group_by(items, key_fn):
    """returns a defaultdict(list), where each input item 
    is in the list whose key is key_fn(item)"""
    groups = defaultdict(list)
    for item in items:
        key = key_fn(item)
        groups[key].append(item)
    return groups
    
def partition_by(inputs, attribute):
    """returns a dict of inputs partitioned by the attribute
    each input is a pair (attribute_dict, label)"""
    return group_by(inputs, lambda x: x[0][attribute])

__ HW4.1.1 What is the classification accuracy of the tree on the training data?__

__HW4.1.2  Is it possible to produce some set of correct training examples that will get the algorihtm
to include the attribute Temperature in the learned tree, even though the true target concept is
independent of Temperature? if no, explain. If yes, give such a set. __

__HW4.1.3  Now, build a tree using only examples D1–D7. What is the classification accuracy for the
training set? what is the accuracy for the test set (examples D8–D14)? explain why you think these
are the results.__

__HW4.1.4 In this case, and others, there are only a few labelled examples available for training (that
is, no additional data is available for testing or validation). Suggest a concrete pruning strategy, that
can be readily embedded in the algorithm, to avoid over fitting. Explain why you think this strategy
should work.__

## HW4.2 Regression Tree (OPTIONAL Homework) 
[Back to Table of Contents](#TOC)
Implement a decision tree algorithm for regression for two input continous variables and one categorical input variable on a single core computer using Python. 

- Use the IRIS dataset to evaluate your code, where the input variables are: Petal.Length Petal.Width  Species  and the target or output variable is  Sepal.Length. 
- Use the same dataset to train and test your implementation. 
- Stop expanding nodes once you have less than ten (10) examples (along with the usual stopping criteria). 
- Report the mean squared error for your implementation and contrast that with the MSE from scikit-learn's implementation on this dataset (http://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeRegressor.html)

In [31]:
## HW4.3 Predict survival on the Titanic using Python (Logistic regression, SVMs, Random Forests)
# https://www.kaggle.com/c/titanic

In [92]:
# input training data
#train_data_csv = '/home/jovyan/work/root/Documents/Target DS Training 2016/TargetDSTraining/HW4/titanic_train.csv'
t_train = sc.textFile("titanic_train.csv")
print (type(t_train))

t_train_utf = t_train.map(lambda x: x.encode("ascii", "ignore"))
col_names = t_train_utf.map(lambda x: x[1:])
print (type(col_names))
#print (col_names.collect())
col_names.collect()

t_train = t_train_utf.cache()
# test the data
t_train.collect()[1:]
#t_train.take(100)[1:]

<class 'pyspark.rdd.RDD'>
<class 'pyspark.rdd.PipelinedRDD'>

['1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,,S',
 '2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38,1,0,PC 17599,71.2833,C85,C',
 '3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,,S',
 '4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S',
 '5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,,S',
 '6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q',
 '7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S',
 '8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.075,,S',
 '9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,,S',
 '10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,,C',
 '11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7,G6,S',
 '12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.55,C103,S',
 '13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,,S',
 '14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.275,,S',
 '15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,,S',
 '16,1,2,"Hewlett, Mrs. (Mary D Kingcome) ",female,55,0,0,248706,16,,S',
 '17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.125,,Q',
 '18,1,2,"Williams, Mr. Charles Eugene",male,,0,0,244373,13,,S',
 '19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31,1,0,345763,18,,S',
 '20,1,3,"Masselmani, Mrs. Fatima",female,,0,0,2649,7.225,,C',
 '21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26,,S',
 '22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13,D56,S',
 '23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,,Q',
 '24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5,A6,S',
 '25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.075,,S',
 '26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38,1,5,347077,31.3875,,S',
 '27,0,3,"Emir, Mr. Farred Chehab",male,,0,0,2631,7.225,,C',
 '28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263,C23 C25 C27,S',
 '29,1,3,"O\'Dwyer, Miss. Ellen ""Nellie""",female,,0,0,330959,7.8792,,Q',
 '30,0,3,"Todoroff, Mr. Lalio",male,,0,0,349216,7.8958,,S',
 '31,0,1,"Uruchurtu, Don. Manuel E",male,40,0,0,PC 17601,27.7208,,C',
 '32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,,1,0,PC 17569,146.5208,B78,C',
 '33,1,3,"Glynn, Miss. Mary Agatha",female,,0,0,335677,7.75,,Q',
 '34,0,2,"Wheadon, Mr. Edward H",male,66,0,0,C.A. 24579,10.5,,S',
 '35,0,1,"Meyer, Mr. Edgar Joseph",male,28,1,0,PC 17604,82.1708,,C',
 '36,0,1,"Holverson, Mr. Alexander Oskar",male,42,1,0,113789,52,,S',
 '37,1,3,"Mamee, Mr. Hanna",male,,0,0,2677,7.2292,,C',
 '38,0,3,"Cann, Mr. Ernest Charles",male,21,0,0,A./5. 2152,8.05,,S',
 '39,0,3,"Vander Planke, Miss. Augusta Maria",female,18,2,0,345764,18,,S',
 '40,1,3,"Nicola-Yarred, Miss. Jamila",female,14,1,0,2651,11.2417,,C',
 '41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40,1,0,7546,9.475,,S',
 '42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27,1,0,11668,21,,S',
 '43,0,3,"Kraeff, Mr. Theodor",male,,0,0,349253,7.8958,,C',
 '44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3,1,2,SC/Paris 2123,41.5792,,C',
 '45,1,3,"Devaney, Miss. Margaret Delia",female,19,0,0,330958,7.8792,,Q',
 '46,0,3,"Rogers, Mr. William John",male,,0,0,S.C./A.4. 23567,8.05,,S',
 '47,0,3,"Lennon, Mr. Denis",male,,1,0,370371,15.5,,Q',
 '48,1,3,"O\'Driscoll, Miss. Bridget",female,,0,0,14311,7.75,,Q',
 '49,0,3,"Samaan, Mr. Youssef",male,,2,0,2662,21.6792,,C',
 '50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18,1,0,349237,17.8,,S',
 '51,0,3,"Panula, Master. Juha Niilo",male,7,4,1,3101295,39.6875,,S',
 '52,0,3,"Nosworthy, Mr. Richard Cater",male,21,0,0,A/4. 39886,7.8,,S',
 '53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49,1,0,PC 17572,76.7292,D33,C',
 '54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29,1,0,2926,26,,S',
 '55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65,0,1,113509,61.9792,B30,C',
 '56,1,1,"Woolner, Mr. Hugh",male,,0,0,19947,35.5,C52,S',
 '57,1,2,"Rugg, Miss. Emily",female,21,0,0,C.A. 31026,10.5,,S',
 '58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,,C',
 '59,1,2,"West, Miss. Constance Mirium",female,5,1,2,C.A. 34651,27.75,,S',
 '60,0,3,"Goodwin, Master. William Frederick",male,11,5,2,CA 2144,46.9,,S',
 '61,0,3,"Sirayanian, Mr. Orsen",male,22,0,0,2669,7.2292,,C',
 '62,1,1,"Icard, Miss. Amelie",female,38,0,0,113572,80,B28,',
 '63,0,1,"Harris, Mr. Henry Birkhardt",male,45,1,0,36973,83.475,C83,S',
 '64,0,3,"Skoog, Master. Harald",male,4,3,2,347088,27.9,,S',
 '65,0,1,"Stewart, Mr. Albert A",male,,0,0,PC 17605,27.7208,,C',
 '66,1,3,"Moubarek, Master. Gerios",male,,1,1,2661,15.2458,,C',
 '67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29,0,0,C.A. 29395,10.5,F33,S',
 '68,0,3,"Crease, Mr. Ernest James",male,19,0,0,S.P. 3464,8.1583,,S',
 '69,1,3,"Andersson, Miss. Erna Alexandra",female,17,4,2,3101281,7.925,,S',
 '70,0,3,"Kink, Mr. Vincenz",male,26,2,0,315151,8.6625,,S',
 '71,0,2,"Jenkin, Mr. Stephen Curnow",male,32,0,0,C.A. 33111,10.5,,S',
 '72,0,3,"Goodwin, Miss. Lillian Amy",female,16,5,2,CA 2144,46.9,,S',
 '73,0,2,"Hood, Mr. Ambrose Jr",male,21,0,0,S.O.C. 14879,73.5,,S',
 '74,0,3,"Chronopoulos, Mr. Apostolos",male,26,1,0,2680,14.4542,,C',
 '75,1,3,"Bing, Mr. Lee",male,32,0,0,1601,56.4958,,S',
 '76,0,3,"Moen, Mr. Sigurd Hansen",male,25,0,0,348123,7.65,F G73,S',
 '77,0,3,"Staneff, Mr. Ivan",male,,0,0,349208,7.8958,,S',
 '78,0,3,"Moutal, Mr. Rahamin Haim",male,,0,0,374746,8.05,,S',
 '79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29,,S',
 '80,1,3,"Dowdell, Miss. Elizabeth",female,30,0,0,364516,12.475,,S',
 '81,0,3,"Waelens, Mr. Achille",male,22,0,0,345767,9,,S',
 '82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29,0,0,345779,9.5,,S',
 '83,1,3,"McDermott, Miss. Brigdet Delia",female,,0,0,330932,7.7875,,Q',
 '84,0,1,"Carrau, Mr. Francisco M",male,28,0,0,113059,47.1,,S',
 '85,1,2,"Ilett, Miss. Bertha",female,17,0,0,SO/C 14885,10.5,,S',
 '86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33,3,0,3101278,15.85,,S',
 '87,0,3,"Ford, Mr. William Neal",male,16,1,3,W./C. 6608,34.375,,S',
 '88,0,3,"Slocovski, Mr. Selman Francis",male,,0,0,SOTON/OQ 392086,8.05,,S',
 '89,1,1,"Fortune, Miss. Mabel Helen",female,23,3,2,19950,263,C23 C25 C27,S',
 '90,0,3,"Celotti, Mr. Francesco",male,24,0,0,343275,8.05,,S',
 '91,0,3,"Christmann, Mr. Emil",male,29,0,0,343276,8.05,,S',
 '92,0,3,"Andreasson, Mr. Paul Edvin",male,20,0,0,347466,7.8542,,S',
 '93,0,1,"Chaffee, Mr. Herbert Fuller",male,46,1,0,W.E.P. 5734,61.175,E31,S',
 '94,0,3,"Dean, Mr. Bertram Frank",male,26,1,2,C.A. 2315,20.575,,S',
 '95,0,3,"Coxon, Mr. Daniel",male,59,0,0,364500,7.25,,S',
 '96,0,3,"Shorney, Mr. Charles Joseph",male,,0,0,374910,8.05,,S',
 '97,0,1,"Goldschmidt, Mr. George B",male,71,0,0,PC 17754,34.6542,A5,C',
 '98,1,1,"Greenfield, Mr. William Bertram",male,23,0,1,PC 17759,63.3583,D10 D12,C',
 '99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34,0,1,231919,23,,S',
 '100,0,2,"Kantor, Mr. Sinai",male,34,1,0,244367,26,,S',
 '101,0,3,"Petranec, Miss. Matilda",female,28,0,0,349245,7.8958,,S',
 '102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,,0,0,349215,7.8958,,S',
 '103,0,1,"White, Mr. Richard Frasar",male,21,0,1,35281,77.2875,D26,S',
 '104,0,3,"Johansson, Mr. Gustaf Joel",male,33,0,0,7540,8.6542,,S',
 '105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37,2,0,3101276,7.925,,S',
 '106,0,3,"Mionoff, Mr. Stoytcho",male,28,0,0,349207,7.8958,,S',
 '107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21,0,0,343120,7.65,,S',
 '108,1,3,"Moss, Mr. Albert Johan",male,,0,0,312991,7.775,,S',
 '109,0,3,"Rekic, Mr. Tido",male,38,0,0,349249,7.8958,,S',
 '110,1,3,"Moran, Miss. Bertha",female,,1,0,371110,24.15,,Q',
 '111,0,1,"Porter, Mr. Walter Chamberlain",male,47,0,0,110465,52,C110,S',
 '112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,,C',
 '113,0,3,"Barton, Mr. David John",male,22,0,0,324669,8.05,,S',
 '114,0,3,"Jussila, Miss. Katriina",female,20,1,0,4136,9.825,,S',
 '115,0,3,"Attalah, Miss. Malake",female,17,0,0,2627,14.4583,,C',
 '116,0,3,"Pekoniemi, Mr. Edvard",male,21,0,0,STON/O 2. 3101294,7.925,,S',
 '117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.75,,Q',
 '118,0,2,"Turpin, Mr. William John Robert",male,29,1,0,11668,21,,S',
 '119,0,1,"Baxter, Mr. Quigg Edmond",male,24,0,1,PC 17558,247.5208,B58 B60,C',
 '120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2,4,2,347082,31.275,,S',
 '121,0,2,"Hickman, Mr. Stanley George",male,21,2,0,S.O.C. 14879,73.5,,S',
 '122,0,3,"Moore, Mr. Leonard Charles",male,,0,0,A4. 54510,8.05,,S',
 '123,0,2,"Nasser, Mr. Nicholas",male,32.5,1,0,237736,30.0708,,C',
 '124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13,E101,S',
 '125,0,1,"White, Mr. Percival Wayland",male,54,0,1,35281,77.2875,D26,S',
 '126,1,3,"Nicola-Yarred, Master. Elias",male,12,1,0,2651,11.2417,,C',
 '127,0,3,"McMahon, Mr. Martin",male,,0,0,370372,7.75,,Q',
 '128,1,3,"Madsen, Mr. Fridtjof Arne",male,24,0,0,C 17369,7.1417,,S',
 '129,1,3,"Peter, Miss. Anna",female,,1,1,2668,22.3583,F E69,C',
 '130,0,3,"Ekstrom, Mr. Johan",male,45,0,0,347061,6.975,,S',
 '131,0,3,"Drazenoic, Mr. Jozef",male,33,0,0,349241,7.8958,,C',
 '132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20,0,0,SOTON/O.Q. 3101307,7.05,,S',
 '133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47,1,0,A/5. 3337,14.5,,S',
 '134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29,1,0,228414,26,,S',
 '135,0,2,"Sobey, Mr. Samuel James Hayden",male,25,0,0,C.A. 29178,13,,S',
 '136,0,2,"Richard, Mr. Emile",male,23,0,0,SC/PARIS 2133,15.0458,,C',
 '137,1,1,"Newsom, Miss. Helen Monypeny",female,19,0,2,11752,26.2833,D47,S',
 '138,0,1,"Futrelle, Mr. Jacques Heath",male,37,1,0,113803,53.1,C123,S',
 '139,0,3,"Osen, Mr. Olaf Elon",male,16,0,0,7534,9.2167,,S',
 '140,0,1,"Giglio, Mr. Victor",male,24,0,0,PC 17593,79.2,B86,C',
 '141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,,0,2,2678,15.2458,,C',
 '142,1,3,"Nysten, Miss. Anna Sofia",female,22,0,0,347081,7.75,,S',
 '143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)",female,24,1,0,STON/O2. 3101279,15.85,,S',
 '144,0,3,"Burke, Mr. Jeremiah",male,19,0,0,365222,6.75,,Q',
 '145,0,2,"Andrew, Mr. Edgardo Samuel",male,18,0,0,231945,11.5,,S',
 '146,0,2,"Nicholls, Mr. Joseph Charles",male,19,1,1,C.A. 33112,36.75,,S',
 '147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27,0,0,350043,7.7958,,S',
 '148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9,2,2,W./C. 6608,34.375,,S',
 '149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26,F2,S',
 '150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42,0,0,244310,13,,S',
 '151,0,2,"Bateman, Rev. Robert James",male,51,0,0,S.O.P. 1166,12.525,,S',
 '152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22,1,0,113776,66.6,C2,S',
 '153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.05,,S',
 '154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5,,S',
 '155,0,3,"Olsen, Mr. Ole Martin",male,,0,0,Fa 265302,7.3125,,S',
 '156,0,1,"Williams, Mr. Charles Duane",male,51,0,1,PC 17597,61.3792,,C',
 '157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16,0,0,35851,7.7333,,Q',
 '158,0,3,"Corn, Mr. Harry",male,30,0,0,SOTON/OQ 392090,8.05,,S',
 '159,0,3,"Smiljanic, Mr. Mile",male,,0,0,315037,8.6625,,S',
 '160,0,3,"Sage, Master. Thomas Henry",male,,8,2,CA. 2343,69.55,,S',
 '161,0,3,"Cribb, Mr. John Hatfield",male,44,0,1,371362,16.1,,S',
 '162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)",female,40,0,0,C.A. 33595,15.75,,S',
 '163,0,3,"Bengtsson, Mr. John Viktor",male,26,0,0,347068,7.775,,S',
 '164,0,3,"Calic, Mr. Jovo",male,17,0,0,315093,8.6625,,S',
 '165,0,3,"Panula, Master. Eino Viljami",male,1,4,1,3101295,39.6875,,S',
 '166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9,0,2,363291,20.525,,S',
 '167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,,0,1,113505,55,E33,S',
 '168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45,1,4,347088,27.9,,S',
 '169,0,1,"Baumann, Mr. John D",male,,0,0,PC 17318,25.925,,S',
 '170,0,3,"Ling, Mr. Lee",male,28,0,0,1601,56.4958,,S',
 '171,0,1,"Van der hoef, Mr. Wyckoff",male,61,0,0,111240,33.5,B19,S',
 '172,0,3,"Rice, Master. Arthur",male,4,4,1,382652,29.125,,Q',
 '173,1,3,"Johnson, Miss. Eleanor Ileen",female,1,1,1,347742,11.1333,,S',
 '174,0,3,"Sivola, Mr. Antti Wilhelm",male,21,0,0,STON/O 2. 3101280,7.925,,S',
 '175,0,1,"Smith, Mr. James Clinch",male,56,0,0,17764,30.6958,A7,C',
 '176,0,3,"Klasen, Mr. Klas Albin",male,18,1,1,350404,7.8542,,S',
 '177,0,3,"Lefebre, Master. Henry Forbes",male,,3,1,4133,25.4667,,S',
 '178,0,1,"Isham, Miss. Ann Elizabeth",female,50,0,0,PC 17595,28.7125,C49,C',
 '179,0,2,"Hale, Mr. Reginald",male,30,0,0,250653,13,,S',
 '180,0,3,"Leonard, Mr. Lionel",male,36,0,0,LINE,0,,S',
 '181,0,3,"Sage, Miss. Constance Gladys",female,,8,2,CA. 2343,69.55,,S',
 '182,0,2,"Pernot, Mr. Rene",male,,0,0,SC/PARIS 2131,15.05,,C',
 '183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9,4,2,347077,31.3875,,S',
 '184,1,2,"Becker, Master. Richard F",male,1,2,1,230136,39,F4,S',
 '185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4,0,2,315153,22.025,,S',
 '186,0,1,"Rood, Mr. Hugh Roscoe",male,,0,0,113767,50,A32,S',
 '187,1,3,"O\'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,,1,0,370365,15.5,,Q',
 '188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45,0,0,111428,26.55,,S',
 '189,0,3,"Bourke, Mr. John",male,40,1,1,364849,15.5,,Q',
 '190,0,3,"Turcin, Mr. Stjepan",male,36,0,0,349247,7.8958,,S',
 '191,1,2,"Pinsky, Mrs. (Rosa)",female,32,0,0,234604,13,,S',
 '192,0,2,"Carbines, Mr. William",male,19,0,0,28424,13,,S',
 '193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19,1,0,350046,7.8542,,S',
 '194,1,2,"Navratil, Master. Michel M",male,3,1,1,230080,26,F2,S',
 '195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44,0,0,PC 17610,27.7208,B4,C',
 '196,1,1,"Lurette, Miss. Elise",female,58,0,0,PC 17569,146.5208,B80,C',
 '197,0,3,"Mernagh, Mr. Robert",male,,0,0,368703,7.75,,Q',
 '198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42,0,1,4579,8.4042,,S',
 '199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,,0,0,370370,7.75,,Q',
 '200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,0,248747,13,,S',
 '201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28,0,0,345770,9.5,,S',
 '202,0,3,"Sage, Mr. Frederick",male,,8,2,CA. 2343,69.55,,S',
 '203,0,3,"Johanson, Mr. Jakob Alfred",male,34,0,0,3101264,6.4958,,S',
 '204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.225,,C',
 '205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18,0,0,A/5 3540,8.05,,S',
 '206,0,3,"Strom, Miss. Telma Matilda",female,2,0,1,347054,10.4625,G6,S',
 '207,0,3,"Backstrom, Mr. Karl Alfred",male,32,1,0,3101278,15.85,,S',
 '208,1,3,"Albimona, Mr. Nassef Cassem",male,26,0,0,2699,18.7875,,C',
 '209,1,3,"Carr, Miss. Helen ""Ellen""",female,16,0,0,367231,7.75,,Q',
 '210,1,1,"Blank, Mr. Henry",male,40,0,0,112277,31,A31,C',
 '211,0,3,"Ali, Mr. Ahmed",male,24,0,0,SOTON/O.Q. 3101311,7.05,,S',
 '212,1,2,"Cameron, Miss. Clear Annie",female,35,0,0,F.C.C. 13528,21,,S',
 '213,0,3,"Perkin, Mr. John Henry",male,22,0,0,A/5 21174,7.25,,S',
 '214,0,2,"Givard, Mr. Hans Kristensen",male,30,0,0,250646,13,,S',
 '215,0,3,"Kiernan, Mr. Philip",male,,1,0,367229,7.75,,Q',
 '216,1,1,"Newell, Miss. Madeleine",female,31,1,0,35273,113.275,D36,C',
 '217,1,3,"Honkanen, Miss. Eliina",female,27,0,0,STON/O2. 3101283,7.925,,S',
 '218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42,1,0,243847,27,,S',
 '219,1,1,"Bazzani, Miss. Albina",female,32,0,0,11813,76.2917,D15,C',
 '220,0,2,"Harris, Mr. Walter",male,30,0,0,W/C 14208,10.5,,S',
 '221,1,3,"Sunderland, Mr. Victor Francis",male,16,0,0,SOTON/OQ 392089,8.05,,S',
 '222,0,2,"Bracken, Mr. James H",male,27,0,0,220367,13,,S',
 '223,0,3,"Green, Mr. George Henry",male,51,0,0,21440,8.05,,S',
 '224,0,3,"Nenkoff, Mr. Christo",male,,0,0,349234,7.8958,,S',
 '225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38,1,0,19943,90,C93,S',
 '226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22,0,0,PP 4348,9.35,,S',
 '227,1,2,"Mellors, Mr. William John",male,19,0,0,SW/PP 751,10.5,,S',
 '228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.25,,S',
 '229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18,0,0,236171,13,,S',
 '230,0,3,"Lefebre, Miss. Mathilde",female,,3,1,4133,25.4667,,S',
 '231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35,1,0,36973,83.475,C83,S',
 '232,0,3,"Larsson, Mr. Bengt Edvin",male,29,0,0,347067,7.775,,S',
 '233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59,0,0,237442,13.5,,S',
 '234,1,3,"Asplund, Miss. Lillian Gertrud",female,5,4,2,347077,31.3875,,S',
 '235,0,2,"Leyson, Mr. Robert William Norman",male,24,0,0,C.A. 29566,10.5,,S',
 '236,0,3,"Harknett, Miss. Alice Phoebe",female,,0,0,W./C. 6609,7.55,,S',
 '237,0,2,"Hold, Mr. Stephen",male,44,1,0,26707,26,,S',
 '238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8,0,2,C.A. 31921,26.25,,S',
 '239,0,2,"Pengelly, Mr. Frederick William",male,19,0,0,28665,10.5,,S',
 '240,0,2,"Hunt, Mr. George Henry",male,33,0,0,SCO/W 1585,12.275,,S',
 '241,0,3,"Zabour, Miss. Thamine",female,,1,0,2665,14.4542,,C',
 '242,1,3,"Murphy, Miss. Katherine ""Kate""",female,,1,0,367230,15.5,,Q',
 '243,0,2,"Coleridge, Mr. Reginald Charles",male,29,0,0,W./C. 14263,10.5,,S',
 '244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22,0,0,STON/O 2. 3101275,7.125,,S',
 '245,0,3,"Attalah, Mr. Sleiman",male,30,0,0,2694,7.225,,C',
 '246,0,1,"Minahan, Dr. William Edward",male,44,2,0,19928,90,C78,Q',
 '247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25,0,0,347071,7.775,,S',
 '248,1,2,"Hamalainen, Mrs. William (Anna)",female,24,0,2,250649,14.5,,S',
 '249,1,1,"Beckwith, Mr. Richard Leonard",male,37,1,1,11751,52.5542,D35,S',
 '250,0,2,"Carter, Rev. Ernest Courtenay",male,54,1,0,244252,26,,S',
 '251,0,3,"Reed, Mr. James George",male,,0,0,362316,7.25,,S',
 '252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29,1,1,347054,10.4625,G6,S',
 '253,0,1,"Stead, Mr. William Thomas",male,62,0,0,113514,26.55,C87,S',
 '254,0,3,"Lobb, Mr. William Arthur",male,30,1,0,A/5. 3336,16.1,,S',
 '255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41,0,2,370129,20.2125,,S',
 '256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29,0,2,2650,15.2458,,C',
 '257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,,0,0,PC 17585,79.2,,C',
 '258,1,1,"Cherry, Miss. Gladys",female,30,0,0,110152,86.5,B77,S',
 '259,1,1,"Ward, Miss. Anna",female,35,0,0,PC 17755,512.3292,,C',
 '260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50,0,1,230433,26,,S',
 '261,0,3,"Smith, Mr. Thomas",male,,0,0,384461,7.75,,Q',
 '262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3,4,2,347077,31.3875,,S',
 '263,0,1,"Taussig, Mr. Emil",male,52,1,1,110413,79.65,E67,S',
 '264,0,1,"Harrison, Mr. William",male,40,0,0,112059,0,B94,S',
 '265,0,3,"Henry, Miss. Delia",female,,0,0,382649,7.75,,Q',
 '266,0,2,"Reeves, Mr. David",male,36,0,0,C.A. 17248,10.5,,S',
 '267,0,3,"Panula, Mr. Ernesti Arvid",male,16,4,1,3101295,39.6875,,S',
 '268,1,3,"Persson, Mr. Ernst Ulrik",male,25,1,0,347083,7.775,,S',
 '269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58,0,1,PC 17582,153.4625,C125,S',
 '270,1,1,"Bissette, Miss. Amelia",female,35,0,0,PC 17760,135.6333,C99,S',
 '271,0,1,"Cairns, Mr. Alexander",male,,0,0,113798,31,,S',
 '272,1,3,"Tornquist, Mr. William Henry",male,25,0,0,LINE,0,,S',
 '273,1,2,"Mellinger, Mrs. (Elizabeth Anne Maidment)",female,41,0,1,250644,19.5,,S',
 '274,0,1,"Natsch, Mr. Charles H",male,37,0,1,PC 17596,29.7,C118,C',
 '275,1,3,"Healy, Miss. Hanora ""Nora""",female,,0,0,370375,7.75,,Q',
 '276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S',
 '277,0,3,"Lindblom, Miss. Augusta Charlotta",female,45,0,0,347073,7.75,,S',
 '278,0,2,"Parkes, Mr. Francis ""Frank""",male,,0,0,239853,0,,S',
 '279,0,3,"Rice, Master. Eric",male,7,4,1,382652,29.125,,Q',

In [89]:
# Start by parsing the training data
t_train_rdd_1 = t_train.map(lambda x: Row(x.split(',')))
t_train_rdd_1.first()
#print t_train_rdd_1.collect()
                            
from pyspark.sql import Row
from pyspark.sql import DataFrame
parts = t_train.map(lambda l: l.split(","))
print (type(people))
#people = t_train.map(lambda p: Row() for c in parts).collect() #, age=int(p[1])))
print (type(people))

#df = sqlContext.createDataFrame(rdd, ['name', 'age'])
df = sqlContext.createDataFrame(t_train, ["PassengerId","Survived","Pclass","Name","Sex","Age","SibSp","Parch","Ticket","Fare","Cabin","Embarked"])
df.collect()
#for i in people:
 #   print i

#sqlContext.createDataFrame(t_train , ('PassengerId','Survived','Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','Embarked')).collect()

<type 'list'>
<type 'list'>

TypeError: Can not infer schema for type: <type 'str'>

In [77]:
#sqlContext.createDataFrame()
#.printSchema
Person = Row("name", "age")
print type(Person)

<class 'pyspark.sql.types.Row'>

In [47]:
# Using mllib :
from pyspark.mllib.tree import DecisionTree, DecisionTreeModel
from time import time
from pyspark.mllib.util import MLUtils

model = DecisionTree.trainClassifier(t_train, numClasses=2, categoricalFeaturesInfo={},
                                     impurity='gini', maxDepth=5, maxBins=32)

t0 = time()
model = DecisionTree.trainClassifier(t_train_rdd_1, numClasses=2, categoricalFeaturesInfo={},
                                     impurity='gini', maxDepth=5, maxBins=32)
t1 = time()

print t1 - t0

AssertionError: the data should be RDD of LabeledPoint

## HW4.4 Heritage Healthcare Prize

Please the following notebooks
- Spark SQL + MLLib solution (with optional 
- Spark Map-Reduce + MMLlib solution

In [29]:
sc.stop()